{% extends 'base_task.html' %}

{% block title %}3 задание{% endblock %}


{% block body %}
<h3>3 задание. Шифр Цезаря</h3>
    <p>Согласно описаниям историка Светония в книге «Жизнь двенадцати цезарей» данный шифр использовался Гаем Юлием Цезарем для секретной переписке со своими генералами (I век до н.э.). Применительно к русскому языку суть его состоит в следующем. Выписывается исходный алфавит (А, Б, ..., Я), затем под ним выписывается тот же алфавит, но с циклическим сдвигом на 3 буквы влево. </p>
    <table cellspacing="1" border="1" cellpadding="3">
    {% set alphabet=['А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ж', 'З', 'И', 'Й', 'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ц', 'Ч', 'Ш', 'Щ', 'Ъ', 'Ы', 'Ь', 'Э', 'Ю', 'Я'] %}
    {% set permutation=['Г', 'Д', 'Е', 'Ж', 'З', 'И', 'Й', 'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ц', 'Ч', 'Ш', 'Щ', 'Ъ', 'Ы', 'Ь', 'Э', 'Ю', 'Я', 'А', 'Б', 'В'] %}
    <tr>
        {% for letter in alphabet %}
            <td>{{ letter }}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for let in permutation %}
            <td>{{ let }}</td>
        {% endfor %}
     </tr>
    </table>
    <p>При зашифровке буква А заменяется буквой Г, Б - на Д и т. д. Так, например, исходное сообщение «ИВАНОВ» после шифрования будет выглядеть «ЛЕГРСЕ».</p>
    <h4>Используйте свой логин, указанный при регистрации для участия в web-квесте, зашифруйте его с помощью шифра Цезаря, и введите в поле ответов. При правильно введенной шифрограмме вы сможете перейти к следующему методу</h4>
    <p>{{ error }}</p>
{% endblock %}