{% extends 'base_task.html' %}

{% block title %}2 задание{% endblock %}


{% block body %}
<h3>2 задание. Магические квадраты</h3>
    <p>Рассмотрим квадрат размером 4х4. В него вписываются числа от 1 до 16. Его магия состоит в том, что сумма чисел по строкам, столбцам и полным диагоналям равняется одному и тому же числу - 34. Пример такого квадрата:
    <table cellspacing="1" border="1" cellpadding="2">
        <tr>
            <td>16</td>
            <td>3</td>
            <td>2</td>
            <td>13</td>
        </tr>
        <tr>
            <td>5</td>
            <td>10</td>
            <td>11</td>
            <td>8</td>
        </tr>
        <tr>
            <td>9</td>
            <td>6</td>
            <td>7</td>
            <td>12</td>
        </tr>
        <tr>
            <td>4</td>
            <td>15</td>
            <td>14</td>
            <td>1</td>
        </tr>
    </table>
    <p>Шифрование по магическому квадрату производится следующим образом. Например, требуется зашифровать фразу: «ИВАНОВИВАНОВИВАН». Буквы этой фразы вписываются последовательно в квадрат согласно записанным в ячейках числам.
    <table cellspacing="1" border="1" cellpadding="2">
        <tr>
            <td>16 Н</td>
            <td>3 А</td>
            <td>2 В</td>
            <td>13 И</td>
        </tr>
        <tr>
            <td>5 О</td>
            <td>10 Н</td>
            <td>11 О</td>
            <td>8 В</td>
        </tr>
        <tr>
            <td>9 А</td>
            <td>6 В</td>
            <td>7 И</td>
            <td>12 В</td>
        </tr>
        <tr>
            <td>4 Н</td>
            <td>15 А</td>
            <td>14 В</td>
            <td>1 И</td>
        </tr>
    </table>
    <p>После этого шифрованный текст записывается в строку (считывание производится слева-направо сверху-вниз, построчно) – «НАВИОНОВАВИВНАВИ».
    <h4>Используйте свой логин, указанный при регистрации для участия в web-квесте, запишите его, если символов меньше 16, добавьте "." так, чтобы получилась строка из 16-ти символов. Далее используя магический квадрат, зашифруйте строку и введите в поле ответа. При выполнении всех действий правильно вы сможете перейти к следующему методу. </h4>
    <table cellspacing="1" border="1" cellpadding="2">
         {% for row in key %}
    <tr>
        {% for value in row %}
        <td>{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
    <p>{{ error }}</p>
{% endblock %}