{% extends 'base_task.html' %}

{% block title %}5 задание{% endblock %}


{% block body %}
<h3>5 задание. Шифр гаммирования</h3>
    <p>Шифры гаммирования (аддитивные шифры) являются самыми эффективными с точки зрения стойкости и скорости преобразований (процедур зашифрования и дешифрования). Для зашифрования и дешифрования используются элементарные арифметические операции – открытое/зашифрованное сообщение и гамма, представленные в числовом виде, складываются друг с другом по модулю (mod). Напомним, что результатом сложения двух целых чисел по модулю является остаток от деления (например, 5+10 mod 4 = 15 mod 4 = 3). Таблица кодирования символов </p>
    <table cellspacing="1" border="1" cellpadding="3">
    {% set alphabet=['А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ж', 'З', 'И', 'Й', 'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ц', 'Ч', 'Ш', 'Щ', 'Ъ', 'Ы', 'Ь', 'Э', 'Ю', 'Я'] %}
    <tr>
        {% for letter in alphabet %}
            <td>{{ letter }}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for num in range(32) %}
            <td>{{ num }}</td>
        {% endfor %}
     </tr>
    </table>
    <p>Например, для шифрования используется русский алфавит (N = 33), открытое сообщение – «ИВАНОВ», гамма – «МАЮШТИ». При замене символов на числа буква И будет представлена как 9, В – 2 и т.д. Результат шифрования показан в следующей таблице.  </p>
    <p>Пример аддитивного шифрования по модулю N = 33 </p>
    <img src="../static/gamma_image.PNG" width="300" HEIGHT="300">
    <p>Для символа «И»: (9+13) mod 33 = 22 mod 33 = 22 – символ «Х». </p>
    <p>Для символа «В»: (2+0) mod 33 = 2 mod 33 = 2 – символ «В». </p>
    <p>Для символа «А»: (0+31) mod 33 = 31 mod 33 = 31 – символ «Ю». </p>
    <p>Для символа «Н»: (14+25) mod 33 = 39 mod 33 = 6 – символ «Ё». </p>
    <p>Для символа «O»: (15+19) mod 33 = 34 mod 33 = 1 – символ «Б». </p>
    <p>Для символа «В»: (2+9) mod 33 = 11 mod 33 = 11 – символ «Х». </p>
    <h4>Используйте свой логин, указанный при регистрации для участия в web-квесте, зашифруйте его с помощью шифра гаммирования (используя указанную гамму), и введите в поле ответов. При правильно введенной шифрограмме вы сможете закончить квест. </h4>
    <p>{{ error }}</p>
{% endblock %}