{% extends 'base.html' %}
{% block body %}
    <h1>Виртуальный тренажер «Методы шифрования». </h1>
     <div>
        <nav>
            <a href="/regulations" class='lf--forgot'>Правила</a>
            <a href="/registration" class='lf--forgot'>Регистрация</a>
            <a href="/authorization" class='lf--forgot'>Авторизация</a>
        </nav>
    </div>
    <h3>Научитесь шифрованию и разгадай все тайны!</h3>
    <p>Используя данный тренажер вы сможете ознамиться и практически применить простые и популярные методы шифрования, представленные в форме web-квеста.</p>
    <img src="../static/image.png">
    <p>Приготовьте ручку и бумагу и обязательно запишите свой логин, который введете при регистрации, он вам обязательно понадобится.</p>
{% endblock %}