{% extends 'base_task.html' %}

{% block title %}1 задание{% endblock %}


{% block body %}
<h3>1 задание. Шифр одинарной перестановки</h3>
    <p>В общем случае для данного класса шифров при шифровании и дешифровании используется таблица перестановок. В первой строке данной таблицы указывается позиция символа в исходном сообщении, а во второй – его позиция в шифрограмме.
    Например, возьмем следующую таблицу перестановок и зашифруем сообщение «ИВАНОВ»
    <table cellspacing="1" border="1" cellpadding="3">
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
        <tr>
            <td>2</td>
            <td>4</td>
            <td>1</td>
            <td>3</td>
            <td>6</td>
            <td>5</td>
        </tr>
    </table>
    <p>Впишем исходное сообщение, переставим буквы согласно таблице и выпишем шифрограмму.
    <table cellspacing="1" border="1" cellpadding="3">
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
        <tr>
            <td>И</td>
            <td>В</td>
            <td>А</td>
            <td>Н</td>
            <td>О</td>
            <td>В</td>
        </tr>
    </table>
    <table cellspacing="1" border="1" cellpadding="3">
        <tr>
            <td>2</td>
            <td>4</td>
            <td>1</td>
            <td>3</td>
            <td>6</td>
            <td>5</td>
        </tr>
        <tr>
            <td>В</td>
            <td>Н</td>
            <td>И</td>
            <td>А</td>
            <td>В</td>
            <td>О</td>
        </tr>
    </table>
    <p>Шифрограммой будет «ВНИАВО».
    <h4>Используйте свой логин, указанный при регистрации для участия в web-квесте, зашифруйте его с помощью указанной таблицы перестановок и введите в поле ответов. При правильно введенной шифрограмме вы сможете перейти к следующему методу. </h4>
    <table  cellspacing="2" border="1" cellpadding="5">
        {% for value in key %}
        <td>{{ value }}</td>
        {% endfor %}
    </table>
    <p>{{ error }}</p>
{% endblock %}