{% extends 'base.html' %}

{% block title %}
    regulations
{% endblock %}

{% block body %}
    <h1>Правила</h1>
     <nav>
            <a href="/" class='lf--forgot'>Назад</a>
        </nav>
    <p>Виртуальный тренажер «Методы шифрования» выполнен в форме web-квеста, это значит, что все задания будут появляться последовательно одно за другим.


        Методы шифрования, которым может обучить тренажер расположены в следующем порядке:
        {% set ciphers = ['Шифр перестановки','Шифр «Магические квадраты»','Шифр Цезаря','Шифр Виженера','Шифр гаммирования'] %}
        <ol>
        {% for cipher in ciphers %}
            <li>{{ cipher }}</li>
        {% endfor %}
        </ol>
        На странице каждого шифра располагается краткая теоретическая часть,
    подробно разобран практическай пример шифрования и предложено задание для самостоятельного выполнения с необходимыми пояснниями,
    исходным текстом для шифрования является введенный логин при регистрации/авторизации.
    Если задание будет пропущено, то оно зачитывается, как неправильно выполненное.
    При досрочном или окончательном завершении прохождения всех заданий можно ознакомиться с отчетом выполнения заданий.
     </p>
{% endblock %}

