{% extends 'base_task.html' %}

{% block title %}4 задание{% endblock %}


{% block body %}
<h3>4 задание. Шифр Виженера</h3>
    <p>Шифр Виженера состоит из последовательности нескольких шифров Цезаря с различными значениями сдвига. Для зашифровывания может использоваться таблица алфавитов, называемая tabula recta или квадрат (таблица) Виженера. </p>
    <img src="../static/vigenere_image.png" width="300" HEIGHT="300">
    <p>Применительно к русскому алфавиту таблица Виженера составляется из строк по 33 символов, причём каждая следующая строка сдвигается на несколько позиций. Таким образом, в таблице получается 33 различных шифров Цезаря. На каждом этапе шифрования используются различные алфавиты, выбираемые в зависимости от символа ключевого слова. Например, предположим, что исходный текст имеет такой вид: ИВАНОВ, а ключевое слово: СЫН. </p>
    <p>Записываем ключевое слово («СЫН») циклически до тех пор, пока его длина не будет соответствовать длине исходного текста: </p>
    <table cellspacing="1" border="1" cellpadding="3">
        <tr>
            <td>Исходный текст</td>
            <td>И</td>
            <td>В</td>
            <td>А</td>
            <td>Н</td>
            <td>О</td>
            <td>В</td>
        </tr>
        <tr>
            <td>Ключевое слово</td>
            <td>С</td>
            <td>Ы</td>
            <td>Н</td>
            <td>С</td>
            <td>Ы</td>
            <td>Н</td>
        </tr>
        <tr>
            <td>Зашифрованный текст</td>
            <td>Ъ</td>
            <td>Э</td>
            <td>Н</td>
            <td>Я</td>
            <td>Й</td>
            <td>П</td>
        </tr>
    </table>
    <p>Первый символ исходного текста («И») зашифрован последовательностью С, которая является первым символом ключа. Первый символ зашифрованного текста («Ъ») находится на пересечении строки С и столбца И в таблице Виженера. Точно так же для второго символа исходного текста используется второй символ ключа; то есть второй символ зашифрованного текста («Э») получается на пересечении строки Ы и столбца В. Остальная часть исходного текста шифруется подобным способом. </p>
    <h4>Используйте свой логин, указанный при регистрации для участия в web-квесте, зашифруйте его с помощью шифра Виженера (используя указанное ключевое слово), и введите в поле ответов. При правильно введенной шифрограмме вы сможете перейти к следующему методу. </h4>
    <p>{{ error }}</p>
{% endblock %}